# Upgrade pip and build tools first
pip>=24.0
setuptools>=70
wheel

# ↓ Latest stable version of chromadb
chromadb==0.4.24

# ↓ Compatible and stable with torch and huggingface
sentence-transformers==2.5.1
transformers==4.39.3
huggingface-hub==0.20.3

# ↓ Torch must match with platform. Use 2.5.1 for Render CPU env
torch==2.5.1

gradio==4.24.0
python-dotenv==1.0.1
pydub==0.25.1

PyPDF2==3.0.1
tqdm==4.66.4
groq==0.5.0
